footer {
    grid-column: 1 / 3;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222;
    color: #fff;
    grid-row: 3 / -1;
  }
  